In [2]:
import pandas as pd
# import os

In [3]:
df = pd.read_json('NLP.json', encoding='utf-8')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

,_id,text,timestamp_ms,user,id
0,{'$oid': '6352be4ab582c55de42c5787'},just had to scramble to find a golden globes s...,2015-01-11 22:20:13.011,"{'id': 19904553, 'screen_name': 'baumbaTz'}",554402424728072192
1,{'$oid': '6352be4ab582c55de42c5788'},RT @ENews: Show us how you're watching the #Go...,2015-01-11 22:25:13.824,"{'id': 85020476, 'screen_name': 'devinaaaprilia'}",554403686428864513
2,{'$oid': '6352be4ab582c55de42c5789'},@danaKStew @50ShadesWorldcm @ScarletteDrake Al...,2015-01-11 22:25:13.869,"{'id': 1433214326, 'screen_name': 'jamiedornan...",554403686617985024
3,{'$oid': '6352be4ab582c55de42c578a'},RT @lisarinna: When your husband tells you tha...,2015-01-11 22:25:13.928,"{'id': 505974820, 'screen_name': 'WyAttDoRiAn'}",554403686865440769
4,{'$oid': '6352be4ab582c55de42c578b'},“@goldenglobes: Creating multiple mini Moët Mo...,2015-01-11 22:25:14.067,"{'id': 146599313, 'screen_name': 'Rascal207'}",554403687448469504

In [6]:
df.shape

(227257, 5)

In [7]:
df.columns

Index(['_id', 'text', 'timestamp_ms', 'user', 'id'], dtype='object')

In [8]:
print(len(df))

227257